
<input form='auth' type='hidden' name='cha' value='<%= params[:cha] %>'>
<input form='auth' type='hidden' name='invite' value='<%= params[:invite] %>'>

<div style='width: 100%; text-align: center;'>
<h1><input form='auth' name='user' placeholder='username'></h1>
<h1><input form='auth' name='pass' placeholder='password'></h1>
<h1><button form='auth' name='do' value='auth'>LOGIN</h1>
</div>