<button type='button' class='invite' value='<%= @host.auth.session[params[:cha]] %>'>invite</button>
<div id='qrcode' style='padding: 3% 2% 3% 2%; background-color: white;'></div>
<div>
  <% @user['badges'].each do |e| %>
  <span style='border: thick solid black; border-radius: 50px; padding: 2%; vertical-align: middle;'><%= e %></span>
  <% end %>
  <% @user['groups'].each do |e| %>
  <p style='width: 100%; text-align: center;'>
    <span style='border: thick solid black; border-radius: 50px; padding: 2%; vertical-align: middle;'><%= e %></span>
  </p>
  <% end %>
</div>
