
function success(p) {
    state.pos = p;
    $('#gps').css('color', 'green');
}

function error(err) {
    state.pos = '';
    $('#gps').css('color', 'red');
//    log({ icon: 'error', color: 'red', message: 'GPS error.' });
}

let gps;

var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
};

if ('geolocation' in navigator) {
//    log({ color: 'grey', icon: 'gps_fixed', message: '<span id="gps" class="material-icons">gps_fixed</span> gps starting.' });
    gps = navigator.geolocation.watchPosition(success, error, options)
} else {
//    log({ color: 'red', icon: 'gps_fixed', message: '<span id="gps" class="material-icons">gps_fixed</span> gps failed.' });
}
